__pycache__
*.DS_store
*.vscode
*.hypothesis
*.devcontainer
*.git-rewrite
*.pytest_cache
*.egg-info
*.zip
*.tar.gz
*.tgz
*.log
*.swp
*.swo
*.swn
*.swm
*.swl
*.swk
*.swf
*.csv
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif

