pandas==1.3.2
numpy
matplotlib
seaborn
pytest>=7.3.1
jupyter
ipykernel
streamlit_tags
streamlit==1.9.2
numpydoc==1.5.0
coverage>=7.4.3
hypothesis==6.14.0
pydata-sphinx-theme
diff_predictor
diff_classifier
scipy
